.register-overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    z-index: 999;
    overflow: hidden;
}

.register-overlay-box-container {
    position: absolute;
    width: 35%;
    height: 65vh;
    background-color: #fefdfd;
    z-index: 1000;
    inset: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.325em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-button {
    position: absolute;
    right: 2em;
    top: 1.5em;
}

.close-button > img {
    aspect-ratio: 1;
    width: 1.75em;
    opacity: 90%;
}

.register-email-field {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    text-align: center;
    padding-bottom: 0.2em;
    width: 60%;
    outline: none;
    margin: 8.5em 0 0 0;
    font-family: "Poppins", sans-serif;
    font-size: 0.95rem;
    margin-bottom: 3em;
}

.register-email-field::placeholder {
    font-family: "Poppins", sans-serif;
    font-size: 0.95rem;
}

.register-email-field:focus::placeholder {
    opacity: 0;
}

.register-overlay-box-container > h1 {
    font-family: "Anton", sans-serif;
    color: #0a100d;
    font-size: 2rem;
    opacity: 85%;
}

.register-subtext {
    text-align: center;
    opacity: 70%;
    line-height: 116%;
    font-size: 0.75rem;
}

.register-already-account-container {
    margin: 2.75em 0 2em 0;
    font-size: 0.75rem;
}

.register-subtext,
.register-already-account-container,
.register-already-account-container > * {
    font-family: "Poppins", sans-serif;
}

.register-submit-button {
    background: #ff8000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1.5625em;
    color: #fefdfd;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.01em;
    padding: 0.75em 0;
    width: 25%;
    align-self: center;
    font-size: 0.85rem;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.24);
    text-align: center;
    text-decoration: none;
}

.register-submit-loading {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    background: transparent;
    border: 1px solid #ff8000;
    padding: 0.35em 0;
    width: 25%;
    align-self: center;
    border-radius: 1.5625em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-login-button {
    padding-left: 0.25em;
    color: black;
}

.register-login-button:hover {
    padding-left: 0.25em;
    color: #ff8000;
}

.register-email-invalid-field {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    text-align: center;
    padding-bottom: 0.2em;
    width: 60%;
    outline: none;
    margin: 8.5em 0 0 0;
    font-family: "Poppins", sans-serif;
    font-size: 0.95rem;
    margin-bottom: 3em;
}

.register-email-invalid-field::placeholder {
    color: #bf1212;
    text-align: center;
    opacity: 90%;
}

.register-email-invalid-field:focus::placeholder {
    opacity: 0;
}
