.rental-card-container {
    box-sizing: border-box;
    background: #fefdfd;
    border: 1px solid rgba(30, 30, 30, 0.2);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
}

.rental-card-text {
    align-self: flex-start;
    margin: 0.75em 0 1.5em 2em;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 110%;
}
