.review-card-container {
    display: flex;
    flex-direction: column;
    border-radius: 0.625em;
    background: #fefdfd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #bbbaba;
    width: 100%;
}

.star-container {
    display: flex;
    flex-direction: row;
    margin: 2.25em 2em 0 2em;
}

.review-text {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
    align-self: center;
    width: 40ch;
    color: #1e1e1e;
    font-size: 1rem;
    text-align: center;
    margin: 2.25em 0;
}

.review-horizontal-line {
    border: 0.5px solid rgba(30, 30, 30, 0.2);
    width: 85%;
    align-self: center;
}

.review-profile-container {
    margin: 1.25em 2.5em;
    display: flex;
    flex-direction: row;
}

.review-profile-icon {
    position: relative;
    width: 3.5em;
    aspect-ratio: 1;
    background: #eae1e1;
    border-radius: 1.75em;
    border: 1px solid rgba(30, 30, 30, 0.5);
    margin-right: 1em;
}

.review-initials {
    position: absolute;
    color: rgba(30, 30, 30, 0.74);
    font-size: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.review-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.2em;
}

.review-subtext {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.05em;

    color: #000000;
}

.review-location {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 110%;
    letter-spacing: 0.05em;
    color: rgba(30, 30, 30, 0.6);
    position: relative;
    padding-left: 1.25em;
}

.review-location::before {
    content: "";
    background-image: url("../assets/pin-location.svg");
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 1em;
}
